**/*.log
node_modules
tmp
lib
.DS_Store
.idea
db.json
package-lock.json
package.json
cypress/fixtures/salesforce.json
/cypress/jsonlogs
/cypress/reports
/cypress/screenshots
/cypress/videos
/cypress/fixtures/example.json
